page-vehicles {
    .titleHeader{
        background-color:rgb(0, 0, 0);
        h2{
            font-weight: bold;
            color:color($colors, yellowStar);
        }
        /*Added to fix some buggy ionic card header style*/
        margin-bottom:2%;
        .pull-right {
            float: right;
          }
    }
    /*Some rounded borders in cards*/
    .card{
        border-radius: 10px;
    }

    .dark{ 
        background:color($colors, dark);
    }
}
